#modded .progress {
    min-height: 36px;
    overflow: hidden;
    position: relative;
}
#modded .progress span {
    position: relative;
    float: left;
    color: #fff;
    padding: 8px;
    z-index: 99999;
}
#modded .progress span i {
    width: inherit;
    font-size: inherit;
    position: relative;
    top: 2px;
    margin-left: 8px;
}
#modded .progress .determinate {
    width: 0;
    transition: width 1s ease-in-out;
    padding: 8px;
    position: relative;
    color: #fff;
    text-align: right;
    white-space: nowrap;
}
#modded ul.collapsible {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
#modded ul.collapsible li {
    margin-bottom: 14px;
}
#modded ul.collapsible .collapsible-header {
    padding: 0;
    border-bottom: 0;
}
#modded ul.collapsible .collapsible-header .progress {
    margin: 0;
    border-radius: 0;
}
#modded ul.collapsible .collapsible-body {
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}
@keyframes grow {
    from {
        width: 0;
   }
}

.fundraiser-card-title{
    font-weight: bold !important;
    font-size: xx-large !important;
    color: #2196F3;
}

.fundraiser-card-subtitle{
    margin-top: -5px;
    margin-left: 2px;
    margin-bottom: 5px;
}

.donate-button{
    width: 100%;
}

/* .card-progress-bar{
    padding: 0px 5px;
} */

.card-donate-button-wrapper{
    margin-top: 15px;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 8px;
}

.card-link{
    display: block;
    color: inherit;
}

.card-donate-link{
    width: 100%;
    height: 100%;
}

.fundraiser-card-stats{
    font-weight: bold;
    align-items: center !important;
    text-align: center !important;
}

.fundraiser-card-stats-wrapper{
    margin-top: -20px !important;
}

.fwb{
    width:100%;
}

.create-fundraiser-button-row{
    margin-bottom: -15px;
    padding-top: 15px;
}

/* .donation-column{
    background-color: #2196F3;
} */

/* .collection{
    width: 100% !important;
    margin-top: -1px;
} */

/* .campaign-info-progress-bar-wrapper{
    width: 90%;
} */

.col-test{
    width: 100% !important;
}

.info-stats-wrapper{
    text-align: center !important;
}

.left-column{
    padding-right: 0px !important;
}

.right-column{
    padding-left: 0px !important;
}

.fundraiser-info-stats{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

/* .progress-bar-col{
    padding-right: -10.5px !important;
} */

.dollars-bold{
    font-weight: bold;
}

.info-progress-bar{
    padding-top: 5px;
    padding-bottom: 5px;
}

.donors-list-wrapper{
    margin-top: -10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.blue-col{
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}